In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/MyDrive/Datasets/CS360/2.salary_data.csv'
salary_data = pd.read_csv(path)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
salary_data.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

# 1

In [4]:
print(f"Shape of the DF = {salary_data.shape}")
print(f"No. of features = {salary_data.shape[1]}")
print(f"No. of patterns = {salary_data.shape[0]}")
print(f"Range of salary : {salary_data.Salary.min()} to {salary_data.Salary.max()}")

Shape of the DF = (30, 2)
No. of features = 2
No. of patterns = 30
Range of salary : 37731 to 122391

# 2

In [5]:
from sklearn.model_selection import train_test_split

print("a:")
for ratioX in range(10, 91, 10):
  train, test = train_test_split(salary_data, test_size=1-ratioX/100)
  print(f"train shape = {train.shape}, test shape = {test.shape}")

print("\nb:")
for ratioY in range(90, 9, -10):
  train, test = train_test_split(salary_data, test_size=ratioY/100)
  print(f"train shape = {train.shape}, test shape = {test.shape}")

a:
train shape = (3, 2), test shape = (27, 2)
train shape = (6, 2), test shape = (24, 2)
train shape = (9, 2), test shape = (21, 2)
train shape = (12, 2), test shape = (18, 2)
train shape = (15, 2), test shape = (15, 2)
train shape = (18, 2), test shape = (12, 2)
train shape = (20, 2), test shape = (10, 2)
train shape = (24, 2), test shape = (6, 2)
train shape = (27, 2), test shape = (3, 2)

b:
train shape = (3, 2), test shape = (27, 2)
train shape = (6, 2), test shape = (24, 2)
train shape = (9, 2), test shape = (21, 2)
train shape = (12, 2), test shape = (18, 2)
train shape = (15, 2), test shape = (15, 2)
train shape = (18, 2), test shape = (12, 2)
train shape = (21, 2), test shape = (9, 2)
train shape = (24, 2), test shape = (6, 2)
train shape = (27, 2), test shape = (3, 2)

# 3

In [6]:
columnwise_mean = salary_data.mean(axis=0)
rowwise_mean = salary_data.mean(axis=1)
print('row wise:')
print(rowwise_mean)
print('\ncolumnwise wise:')
print(columnwise_mean)
print(f'\nOverall mean = {salary_data.mean().mean()}')
print(f'Overall median = {salary_data.median().median()}')
print(f'Overall std = {salary_data.stack().std()}')
mode = salary_data.mode().mode()

row wise:
0     19672.05
1     23103.15
2     18866.25
3     21763.50
4     19946.60
5     28322.45
6     30076.50
7     27224.10
8     32224.10
9     28596.35
10    31610.95
11    27899.00
12    28480.50
13    28542.55
14    30557.75
15    33971.45
16    33017.05
17    41546.65
18    40684.45
19    46973.00
20    45872.40
21    49140.05
22    50654.95
23    56910.10
24    54719.85
25    52795.50
26    58489.25
27    56322.30
28    61200.65
29    60941.25
dtype: float64

columnwise wise:
YearsExperience        5.313333
Salary             76003.000000
dtype: float64

Overall mean = 38004.15666666667
Overall median = 32620.85
Overall std = 42869.47152988138

# 4

In [7]:
# X = salary_data['YearsExperience']
# y = salary_data['Salary']
X = salary_data.iloc[:,0].values
y = salary_data.iloc[:,1].values

In [9]:
def sum_sq_error(y, y_hat):
  sum = 0
  for i in range(len(y)):
    sum += (y[i] - model_pred[i])**2
  return sum

In [10]:
# degree 2
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

poly_features = PolynomialFeatures(degree=2)
X_poly = poly_features.fit_transform(X.reshape(-1, 1))

model = LinearRegression()
model.fit(X_poly, y)
model_pred = model.predict(X_poly)

sse = sum_sq_error(y, model_pred)
print(sse)

937725253.5284165

In [11]:
# degree 3
poly_features = PolynomialFeatures(degree=3)
X_poly = poly_features.fit_transform(X.reshape(-1, 1))

model = LinearRegression()
model.fit(X_poly, y)
model_pred = model.predict(X_poly)

sse = sum_sq_error(y, model_pred)
print(sse)

793403088.2051331