In [ ]:
from sklearn import datasets
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import Normalizer
from sklearn.metrics import mean_squared_error

In [ ]:
boston = datasets.load_boston(return_X_y=False)

In [ ]:
df = pd.DataFrame(boston.data, columns=boston.feature_names)
X = df.copy()
df['MEDV'] = boston.target
y = df['MEDV']

In [ ]:
df.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  MEDV
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.6, random_state=1)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, random_state=1)

Part 2

In [ ]:
model = LinearRegression()
model.fit(X_train, y_train)
h_val = model.predict(X_val)

In [ ]:
train_score = model.score(X_train, y_train)
val_score = model.score(X_val, y_val)
print(f"train_score = {train_score}\nval_score = {val_score}")

train_score = 0.7255983811811721
val_score = 0.6864158668299641

In [ ]:
train_mse = mean_squared_error(y_train, model.predict(X_train))
val_mse = mean_squared_error(y_val, h_val)
print(f"train_mse = {train_mse}\nval_mse = {val_mse}")

train_mse = 22.877703820585644
val_mse = 25.988849873707746

Part 1

In [ ]:
norm = Normalizer()

In [ ]:
X_train_norm = norm.fit_transform(X_train)
X_val_norm = norm.transform(X_val)

In [ ]:
norm_model = LinearRegression()
norm_model.fit(X_train_norm, y_train)
h_val_norm = norm_model.predict(X_val_norm)

In [ ]:
train_score2 = norm_model.score(X_train_norm, y_train)
val_score2 = norm_model.score(X_val_norm, y_val)
print(f"train_score = {train_score2}\nval_score = {val_score2}")

train_score = 0.7230914611294267
val_score = 0.6675872024636149

In [ ]:
train_mse2 = mean_squared_error(y_train, norm_model.predict(X_train_norm))
val_mse2 = mean_squared_error(y_val, h_val_norm)
print(f"train_mse = {train_mse2}\nval_mse = {val_mse2}")

train_mse = 23.086713427353263
val_mse = 27.549309347829634